@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>This project is a practical resource for extending ASP.NET Core Identity Server for <a href="https://learn.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/start-mvc?view=aspnetcore-7.0&tabs=visual-studio">MVC Web applications</a>.</p>
    <p>Register to get started</p>
</div>
